$primary-color: #F0BE00;
$secondary-color: #9EA717;

$label-background-color: rgba(0,0,0,0.6);
$transparent-border-color: rgba(255, 232, 31, 0.7);

$border-radius: 8px;

$xs-spacer: 4px;
$small-spacer: 8px;
$mid-spacer: 16px;
$large-spacer: 32px;

$space: 8px;
